table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    padding: 12px;
    border: 1px solid #412517;
  }

  th {
    background-color: #7acec2;
    color: #412517;
  }

  tr:nth-child(even) {
    background-color: #e6dfcc;
  }

  tr:nth-child(odd) {
    background-color: #a75f3b;
    color: #f58b57;
  }

  footer{
    margin-top: 2cm;
  }