.ticker {

    background: #000000;
    color: antiquewhite;
    overflow: hidden ;
  }

  .ticker p {
    margin: auto;
    animation: mover 4s ease-in-out infinite;
    -webkit-animation: mover 4s ease-in-out infinite;
    -moz-animation: mover 4s ease-in-out infinite;
    padding: 5px;
  }

  .ticker p {
    margin: auto;
    margin-left: 10px;
    animation: mover 16s ease-in-out infinite;
    -webkit-animation: mover 16s ease-in-out infinite;
    -moz-animation: mover 16s ease-in-out infinite;
    display: inline-block; 
  }

  @keyframes mover {
    0% {
        transform: translateX(-50%);
    }
    50% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-50%);
    }
}

@-webkit-keyframes mover {
    0% {
        -webkit-transform: translateX(-50%);
    }
    50% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-50%);
    }
}

@-moz-keyframes mover {
    0% {
        -moz-transform: translateX(-50%);
    }
    50% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-50%);
    }
}

  /*Termina tecker aqui____________________________*/

/*comienzo de noticia_______________________________*/
.newsblock {
  height: auto;
  width: 100%;
  background-color: #7acec2;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  transition: 3s;
}

.nb {
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
  height: 400;
  width: calc(30%); /* Adjust the width based on the number of items per row */
  background-color: #e6dfcc;
  color: #412517;
  display: inline-block;
  border-radius: 10px;
  transition: 1s;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1080px) {
  .newsblock {
    height: auto;
    flex-direction: column;
  
    display: flex ;
    justify-content: center;
    align-items: center;
  }

  .nb {
    height: max-content;
    width: 50%;
  }
  
  .nb img {
    width: 20%;
  }

}

.nb:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 5px black;
}

.nb img {
  display: block; /* Make the image a block element */
  margin: auto;   /* Center the image horizontally */
  margin-top: 10px; /* Add margin at the top */
  height: 170px;
  width: 330px;
  border-radius: 10px;
}


.nb h3 {
  text-align: center;
}

.nb p {
  text-align: center;
  margin-right: 5px;
  margin-top: -0.2cm;
}


/*fin_______________________________*/


#seg{
  display: flex;
  margin: 1cm;
}

@media only screen and (max-width: 1080px) {


#seg {
  flex-direction: column;
}



}

/*inicio de merch_________________*/
.merch{
  color: #412517;
  height: 500px;
  width: 45%;

margin: 1cm;
  border-radius: 20px;
 text-align: center;
 overflow: auto;
 background-color: #e6dfcc;


}
.merch h2 {
text-align: center;
font: 900;
font-size:xx-large;
font-weight: bolder ;
}

.prod {
  color: #412517;
  display: inline-block;
  width: 400px;
  height: 300px;
  margin: 10px;
  border-radius: 5px;
  background-color: #a75f3b;

}

.prod img {
  width: 344px;
  height: 230px;
}

.prod h3 {
  margin: 0;
}

.prod p {
  margin: 5px;
}


#butcomp{
  background-color: #f58b57;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  transition: 2s;

}

#butcomp:hover{
  scale: 1.1;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


/*fin de merch_______________________*/
/* incio de giros siguentes___________________________*/


.fechgir{
  color: #412517;
  height: 500px;
  width: 45%;
  margin: 1cm;
  border-radius: 20px;
 text-align: center;
 overflow: auto;
 background-color: #e6dfcc;
}

.fechgir h2{
  text-align: center;
  font: 900;
  font-size:xx-large;
  font-weight: bolder ;
}


table {
  width: 90%;
  text-align: center;
  background-color: antiquewhite;
  font-weight: bolder;

}




table  {
  border: 5px solid black ;
  border-radius: 10px;
  margin: 1cm;
}

th {
  border: 3px solid rgb(187, 14, 14);
  font-size: larger;

}

td {

  border: 10px solid black;
  border-spacing: 2px;
  border-width: 5px;
  border-style: outset ;

}

/*Finde grios__________________________________*/
@media only screen and (max-width: 1500px) {
  .fechgir{
    width: 500px;
  }

  .merch{
    width: 500px;

  }

  .nb {
    left: -1cm;
  }
}


a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
