table {
    border-collapse: collapse;
    width: 80%;
    color: #412517;
    font-size: 18px;
    margin: auto;
    border-radius: 100px;
  }
  
  th, td {
    text-align: center;
    border: 2px solid #412517;
  }
  
  th {
    background-color: #a75f3b;
    color: white;
    padding: 10px;
  }
  
  td {
    background-color: #7acec2;
    padding: 10px;
  }
  
  tr:hover {background-color: #f58b57;}

  footer{
    position: fixed;
    bottom: 0;
  }