
        body{
            height: 200px;
            overflow-x: hidden;
        }


h2 {
    background-color: #f2f2f2;
    padding: 10px;
}



.bio1{
width: 40%;
background-color: #f2f2f2;
padding: 10px;
}

.bio2{
    width: 40%;
    margin-left: 60%;
    background-color: #f2f2f2;
padding: 10px;
}

.bio3{
    width: 40%;  
    background-color: #f2f2f2;
padding: 10px;
}

p {
    
    padding: 10px;
}


video {
    margin-left: 35%;
    height: 400px;
    width: 650px;
}

footer {
    margin-top: 1%;
}